@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkRegular-X3XE2.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkRegularItalic-L3AEy.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkBold-gx2B3.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkBoldItalic-PKZ3P.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkMedium-mLZYV.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkMediumItalic-d95nl.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

///
@font-face {
  font-family: "vollkorn";
  src: url("./assets/vollkorn-font/VollkornRegular-51aXv.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "vollkorn";
  src: url("./assets/vollkorn-font/VollkornBold-ALwGg.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "vollkorn";
  src: url("./assets/vollkorn-font/VollkornBoldItalic-qZ3oq.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "vollkorn";
  src: url("./assets/vollkorn-font/VollkornMedium-jEVry.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "vollkorn";
  src: url("./assets/vollkorn-font/VollkornMediumItalic-z89XL.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}


@font-face {
  font-family: "bring-the-noise";
  src: url("./assets/bring-tha-noize/BRINGTHANOIZE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "balpais";
  src: url("./assets/balapis-manado-font/UnnamedRegular-X3Ey9.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hacked";
  src: url("./assets/hacked-font/Hacked-KerX.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hey-november";
  src: url("./assets/hey-november-font/HeyNovember-eZZ2l.ttf") format("truetype");
  src: url("./assets/hey-november-font/HeyNovember-0WWlP.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "oh-now";
  src: url("./assets/oh-now-font/OhNow-M6vP.ttf") format("truetype");
  src: url("./assets/oh-now-font/OhNow-rBlB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "zuka";
  src: url("./assets/zuka-doodle-font/ZukaDoodle-Kz7y.ttf") format("truetype");
  src: url("./assets/zuka-doodle-font/ZukaDoodle-MnVJ.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "spongeboy";
  src: url("./assets/spongeboy-font/SpongeboyRegular-gx2n6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}