@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkRegular-X3XE2.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkRegularItalic-L3AEy.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkBold-gx2B3.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkBoldItalic-PKZ3P.otf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkMedium-mLZYV.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "lemon-milk";
  src: url("./assets/lemon-milk-font/LemonMilkMediumItalic-d95nl.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

///


@font-face {
  font-family: "oh-now";
  src: url("./assets/oh-now-font/OhNow-M6vP.ttf") format("truetype");
  src: url("./assets/oh-now-font/OhNow-rBlB.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
